@model IEnumerable<ViennaRuns.RunningGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
        Members
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rg_name)
        </td>
        <td>
            <div style="width:120px;height:60px;overflow:auto;padding:1px;">
                @foreach (var a in item.Users)
                {
                    @a.u_username <br/>
                }
            </div>
</td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.rg_id }) 
           
        </td>
    </tr>
}

</table>
