<link rel="stylesheet" href="~/css/Home.css" type="text/css">
@{
    ViewBag.Title = "Home Page";
}

<div id="middle">
    <img src="~/Pictures/Run_logo.svg" width="500" />
</div>
    <h1>Welcome to Vienna Runs!</h1>
    <p class="lead">Vienna Runs is an online Application which helps you keeping track with your running sessions and get in contact with other runners</p>
   <p> To see more, please log in or register yourself!</p>




